<!DocType html>
<html>
<head>
<title>404 Error</title>
<link rel="shortcut icon" type="image/jpg" href="./static/favicon.png"/>
<style>
.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: tomato;
        color: white;
         text-align: center;      
          }
body{
       text-align: center;    
     background-image: url("./static/image2.png");
   }
   </style>
</head>
<body>
   <h1>
   Sorry {{name}} is not available in our dataset
   </h1>
   <p>Thank you for searching<p>
   <div class="footer">
   <p>Made By Sanidhya Verma</p>
   </div>
</body>
</html>

